.container {
    display: flex;
    background-color: rgba(255, 235, 205, 0.767);
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
}
img {
    width: 50px;
    border-radius: 50%;
}
.item {
    margin: 6px;
}
.col {
    display: flex;
    flex-direction: column;
}
.name {
    font-weight: 500;
}
.job {
    font-size: small;
}